*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    display:flex;
    /* flex-direction: column; */
    /* height:600px; */
    background-color: lightgray;
    /* justify-content:start; */
    /* align-items:center; */
    /* flex-wrap:wrap; */
}
.item{
    flex-basis:100px;
    height:100px;
    background-color: #254de4;
    margin:10px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.item:nth-of-type(1){
    order:1;
}
.item:nth-of-type(2){
    flex-basis:1000px;
    flex-shrink:2;
}
.item:nth-of-type(3){
    order:3;
}
.item:nth-of-type(4){
    order:-1;
}