body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding:0;
    margin:0;
    background-color: white;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
header{
    background-color:#32325f;
    padding-top: 30px;
    color:white;
    min-height:70px;
    border-bottom:3px orangered solid;
}
header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}
ul{
    margin:0;
    padding:0;
}
header li{
    float:left;
    display:inline;
    padding:0 20px;
}
header #branding{
    float:left;
    margin-top:10px;
    padding-bottom:5px;
}
header #branding h1{
    margin:0;
}
header nav{
    float:right;
    margin-top:10px;
}
header .highlight, header .current a{
    color:orangered;
    font-weight: bold;
}
header a:hover{
    font-weight:bold;
    color:darkgray;
}
#showcase{
    min-height:400px;
    /*background:url("../Images/bgimage\ \(2\).png") no-repeat;*/
    background:url("../Images/3312.jpg") no-repeat 0 -600px;
    object-fit:cover;
    text-align:center;
    color:orangered;
}
#showcase h1{
    font-size:55px;
    margin-top:70px;
    margin-bottom:10px;
    line-height:1.5em;
}
#showcase p{
    font-size:30px;
    color:black;
    line-height:1.5em;
    font-weight:bold;
}
#newsletter{
    min-height:80px;
    background-color:#32325f;
}
#newsletter h1{
    float:left;
    padding-top:10px;
    color:white;
}
#newsletter form{
    float:right;
    margin-top:20px;
    margin-bottom:10px;
}
#newsletter form input{
    font-size:20px;
    padding:5px 10px;
}
#newsletter form button{
    font-size:20px;
    padding:5px 10px;
    border:none;
    background-color: orangered;
    color:white;
}
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}
article#main-col{
    float:left;
    width:65%;

}
.dark{
    padding:25px;
    background:#32325f;
    color:white;
    margin-top:10px;
    margin-bottom:30px;
}
ul#services li{
    list-style: none;
    padding:20px;
    border:#cccccc solid 2px;
    margin-bottom:5px;
    background:#e6e6e6 ;
}
footer{
    background-color: orangered;
    color:white;
    margin-top:10px;
}
footer p{
    text-align:center;
    font-size:15px;
    padding:25px;
    margin:0;
}
#boxes{
   margin-top:20px; 
}
#boxes .box{
    width:30%;
    float:left;
    text-align:center;
    padding:10px;
}
#boxes .box img{
    height:150px;
    width:120px;
    
}
@media(max-width:768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, article#main-col, aside#sidebar, .quote #boxes .box,  #boxes .box{
        float:none;
        text-align:center;
        width:100%;
    }
    header{
        padding-bottom:20px;
    }
    #showcase h1{
        margin-top:40px;
    }
    #newsletter button{
        display:block;
        width:100%;
    }
    #newsletter form input[type=email]{
        width:100%;
        margin-bottom:5px;
    }
}

